<section class="max-w-2xl mx-auto mt-10 space-y-6">

  @if (beneficiarioResource.isLoading()) {
  <div class="flex flex-col items-center justify-center py-10">
    <span class="loading loading-spinner loading-lg text-primary mb-3"></span>
    <p class="text-gray-500">{{globalService.WORDS.LABEL.LOADING_INFORMATION}}</p>
  </div>
  } @else {
  @let data = beneficiarioResource.value();

  @if (!data) {
  <div class="alert alert-warning shadow-md">
    <span>{{globalService.WORDS.LABEL.BENEFICIARY_NO_INFORMATION}}.</span>
  </div>
  } @else {

  @if (data.status === 'PENDIENTE') {
  <div class="alert alert-info shadow-md">
    <i class="bi bi-hourglass-split text-xl"></i>
    <div>
      <h3 class="font-semibold">{{globalService.WORDS.LABEL.PDF_IN_REVIEW}}</h3>
      <p>{{globalService.WORDS.LABEL.PDF_IN_REVIEW}}.</p>
    </div>
  </div>
  }

  @if (data.status === 'RECHAZADA') {
  <div class="alert alert-error shadow-md">
    <i class="bi bi-x-circle-fill text-xl"></i>
    <div>
      <h3 class="font-semibold">{{globalService.WORDS.LABEL.PDF_REJECTED}}</h3>
      <p>{{globalService.WORDS.LABEL.YOU_MUST_UPLOAD_DOCUMENT}}.</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-md">
    <div class="card-body">
      <h2 class="card-title text-error">{{globalService.WORDS.LABEL.NEW_PDF}}</h2>
      <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" class="file-input file-input-bordered w-full"
        (change)="onFileSelected($event)" />
      <button type="button" class="btn btn-error mt-3" (click)="handleUpload()" [disabled]="!selectedFile">
        <i class="bi bi-upload"></i> {{globalService.WORDS.LABEL.UPLOAD_PDF}}
      </button>
    </div>
  </div>
  }

  @if (data.status === 'NOPDF') {
  <div class="alert alert-warning shadow-md">
    <i class="bi bi-exclamation-triangle-fill text-xl"></i>
    <div>
      <h3 class="font-semibold">{{globalService.WORDS.LABEL.NO_UPLOAD_PDF}}</h3>
      <p>{{globalService.WORDS.LABEL.UPLOAD_CV}}</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-md">
    <div class="card-body">
      <h2 class="card-title text-warning">{{globalService.WORDS.LABEL.UPLOAD_YOUR_PDF}}</h2>
      <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" class="file-input file-input-bordered w-full"
        (change)="onFileSelected($event)" />
      <button type="button" class="btn btn-warning mt-3 text-white" (click)="handleUpload()" [disabled]="!selectedFile">
        <i class="bi bi-cloud-arrow-up"></i> {{globalService.WORDS.LABEL.UPLOAD_PDF}}
      </button>
    </div>
  </div>
  }

  @if (data.status === 'APROBADA') {
  <div class="alert alert-success shadow-md">
    <i class="bi bi-check-circle-fill text-xl"></i>
    <div>
      <h3 class="font-semibold">{{globalService.WORDS.LABEL.PDF_APPROVE}}</h3>
      <p>{{globalService.WORDS.LABEL.YOU_CAN_NOW_CREATED_CAMPAING}}</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-md mt-5">
    <div class="card-body">
      <h2 class="card-title text-primary">{{globalService.WORDS.LABEL.CREATE_CAMPAING}}</h2>

      <form [formGroup]="campaniaForm" class="space-y-5" (ngSubmit)="onCreateCampania()">

        <div class="form-control">
          <label class="label">
            <span class="label-text">{{globalService.WORDS.LABEL.TITLE}}</span>
          </label>
          <input type="text" formControlName="titulo" class="input input-bordered w-full" />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">{{globalService.WORDS.LABEL.DESCRIPTION}}</span>
          </label>
          <textarea formControlName="descripcion" class="textarea textarea-bordered w-full"></textarea>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">{{globalService.WORDS.LABEL.TARJET_AMOUNT}}</span>
          </label>
          <input type="number" formControlName="montoObjetivo" class="input input-bordered w-full" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Imagen de la campaña</span>
          </label>

          <input type="file" accept="image/*" (change)="onFileImageSelected($event)"
            class="file-input file-input-bordered w-full" />

          @if (previewImage) {
          <div class="relative h-100 w-full flex items-center justify-center 
           bg-gray-100 dark:bg-gray-800 overflow-hidden rounded-2xl shadow-md mt-4">
            <img [src]="previewImage" class="w-full h-full object-cover transition-opacity duration-500" />
          </div>
          }
        </div>

        <button class="btn btn-primary w-full" [disabled]="campaniaForm.invalid">
          {{globalService.WORDS.LABEL.CREATE_CAMPAING}}
        </button>
      </form>
    </div>
  </div>
  }}

  }
</section>