

<div class=" flex items-center justify-center bg-gray-50 dark:bg-gray-900 px-4">
 <div class="card bg-base-100 shadow-xl w-full max-w-100 p-10 border border-gray-200 dark:border-gray-700 rounded-2xl
     overflow-hidden">

    <h3 class="text-4xl font-extrabold text-center mb-4 text-primary">
      
      {{ globalService.WORDS.ACTIONS.LOGIN }}
    </h3>


    <p class="text-center mb-8 text-base-content/70">
      {{ globalService.WORDS.LABEL.LOGIN_FORM }}
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-6">

      <div class="form-control">
        <label class="label">
          <span class="label-text font-bold text-base-content">
            {{ globalService.WORDS.LABEL.EMAIL }}
          </span>
        </label>
        <input type="email" formControlName="email" placeholder="{{ globalService.WORDS.PLACEHOLDER.EMAIL }}"
          class="input input-bordered input-primary w-full transition duration-300 ease-in-out focus:ring-2 focus:ring-primary focus:border-transparent"
          required />
        <div class="mt-1">
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {

          @if (loginForm.get('email')?.hasError('required')) {
          <span class="text-error text-sm mt-1">
            {{ globalService.WORDS.ERRORS.EMAIL_REQUIRED }}
          </span>
          }

          @if (loginForm.get('email')?.hasError('email')) {
          <span class="text-error text-sm mt-1">
            {{ globalService.WORDS.ERRORS.EMAIL_INVALID }}
          </span>
          }
          }

        </div>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text font-bold text-base-content">
            {{ globalService.WORDS.LABEL.PASSWORD }}
          </span>
        </label>
        <input type="password" formControlName="password" placeholder="{{ globalService.WORDS.PLACEHOLDER.PASSWORD }}"
          class="input input-bordered input-primary w-full transition duration-300 ease-in-out focus:ring-2 focus:ring-primary focus:border-transparent"
          required />

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <span class="text-error text-sm mt-1">
          {{ globalService.WORDS.ERRORS.PASSWORD_REQUIRED }}
        </span>
        }
      </div>

      <div class="pt-2">
        <button type="submit" class="btn btn-primary w-full"
          [disabled]="loginForm.invalid || loginResource.isLoading()">
          @if (loginResource.isLoading()) {
          <span class="loading loading-spinner loading-sm mr-2"></span>
          {{ globalService.WORDS.ACTIONS.LOADING_LOGIN }}
          } @else {
          {{ globalService.WORDS.ACTIONS.LOGIN }}
          }
        </button>
      </div>
    </form>

    @if (loginResource.value()?.__error) {
    <div class="alert alert-error mt-6 shadow-md" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ globalService.WORDS.ERRORS.LOGIN_FAILED }}</span>
    </div>
    }

    @if (!loginResource.value()?.__error && loginResource.value()) {
    <div class="alert alert-success mt-6 shadow-md" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ globalService.WORDS.SUCCESS.LOGIN_SUCCESS }}</span>
    </div>
    }

    <p class="text-center mt-6 text-sm text-base-content/80">
      {{ globalService.WORDS.LABEL.NOT_HAVE_ACCOUNT }}
      <a (click)="toggle()"
        class="cursor-pointer text-primary font-bold hover:underline hover:text-primary-focus transition duration-200">
        {{ globalService.WORDS.LABEL.REGISTER_HERE }}
      </a>
    </p>

  </div>
</div>

